    body{
        margin: 0 auto;
        text-align: center;
    }
    .contenedor {
            display: table;
            margin: 1em;
			
		}
		.contenidos {
			display: table-row;
        }
		.a, .b, .c, .d {
			display: table-cell;
			vertical-align: middle;
			width:20em;
			height:20em;	
            }
            
		.a{
            background:#34515e;
            border-radius: 500px 0px 0px 0px;
            -moz-border-radius: 500px 0px 0px 0px;
            -webkit-border-radius: 500px 0px 0px 0px;
            border: 3px solid #ffffff;
            }
        .a:hover{
            background:#8eacbb;
        }
        .a_activo{
            background:#8eacba;
        }
            
		.b {
            background:#b0003a;
            border-radius: 0px 500px 0px 0px;
            -moz-border-radius: 0px 500px 0px 0px;
            -webkit-border-radius: 0px 500px 0px 0px;
            border: 3px solid #ffffff;
        }
        .b:hover{
            background:#ff2a71;
        }

		.c {
            background:#32cb00;
            border-radius: 0px 0px 0px 500px;
            -moz-border-radius: 0px 0px 0px 500px;
            -webkit-border-radius: 0px 0px 0px 500px;
            border: 3px solid #ffffff;
        }
        .c:hover{
            background:#b0ff57;
        }

		.d {
            background:#007c91;
            border-radius: 0px 0px 500px 0px;
            -moz-border-radius: 0px 0px 500px 0px;
            -webkit-border-radius: 0px 0px 500px 0px;
            border: 3px solid #ffffff;
        }
        .d:hover{
            background:#5ddef4;
        }

        .start{
            text-align: center;
            background:#007c91;
            width: 5em;
            height: 5em;
            position: relative;
            float: left;
        }
        .ciclos{
            text-align: center;
            background:#007c91;
            width: 5em;
            height: 5em;
            position: relative;
            float: right;   
        }