/*--------responsive-----------*/

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width:478px) {
        @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width:480px) and (max-width:767px) {
        @content;
        }
    }

    @else if $breakpoint == "smx" {
        @media (min-width:768px) and (max-width:991px) {
        @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width:992px) and (max-width:1280px) {
        @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media (min-width:1281px) and (max-width:4000px) {
        @content;
        }
    }
}