//typography
$font-stack: 'Lobster', cursive;   

//colors
/*
$primary-color: #1DCD90;
$primary-color-light: hsl(194, 100%, 80%);
$primary-color-dark: hsl(203, 70%, 45%);
$secondary-color: hsl(159, 75%, 46%);
$secondary-color-light: hsl(156, 100%, 70%);
$secondary-color-dark: hsl(158, 100%, 31%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 40%);
$grey-light: hsl(0, 0%, 95%);*/

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;